PORT=3000
NODE_ENV=development
JWT_SECRET=your-super-secret-key-change-in-production

# محلي (XAMPP)
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=alshafi

# Aiven MySQL
DB_HOST=your-service.aivencloud.com
DB_PORT=16060
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=defaultdb
DB_SSL=REQUIRED
# DB_SSL_CA_PATH=./certs/ca.pem
# DB_SSL_SKIP_VERIFY=true
